<div id="layout">
	<div id="zoomstuff"><button class="zoom">+</button><button class="zoom">-</button> <p id="zoomtext">100%</p></div><br>
	<div id="layoutholder">
		<div class="scenebox" id="sbprime"></div>
		<div class="children" id="sbprimechildren">
			<div class="scenebox" id="sb1"></div><br>
<!-- 				<div class="children">
					<div class="scenebox" ></div><br>
					<div class="scenebox" ></div><br>
					<div class="scenebox" ></div>
				</div> -->
			<div class="scenebox" id="sb2"></div><br>
<!-- 			<div class="children">
					<div class="scenebox" ></div><br>
					<div class="scenebox" ></div><br>
					<div class="scenebox" ></div>
				</div> -->
			<div class="scenebox" id="sb3"></div>
		</div>
	</div>

	
</div>
<div id="lower"></div>