<div id="layout">
	<div id="zoomstuff"><button class="zoom">+</button><button class="zoom">-</button> <p id="zoomtext">100%</p></div><br>
	<div id="layoutholder">

	</div>

	
</div>
<div id="lower"></div>
<hr>



<!-- <div class="wrapper"><span class="node">Root</span>
  <div class="branch lv1">
    <div class="entry"><span class="node">Entry-1</span>
      <div class="branch lv2">
        <div class="entry"><span class="node">Entry-1-1</span>
          <div class="branch lv3">
            <div class="entry single"><span class="node">Entry-1-1-1</span></div>
          </div>
        </div>
        <div class="entry"><span class="node">Entry-1-2</span>
          <div class="branch lv3">
            <div class="entry single"><span class="node">Entry-1-2-1</span></div>
          </div>
        </div>
        <div class="entry"><span class="node">Entry-1-3</span>
          <div class="branch lv3">
            <div class="entry single"><span class="node">Entry-1-3-1</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="entry"><span class="node">Entry-2</span></div>
    <div class="entry"><span class="node">Entry-3</span>
      <div class="branch lv2">
        <div class="entry"><span class="node">Entry-3-1</span></div>
        <div class="entry"><span class="node">Entry-3-2</span></div>
        <div class="entry"><span class="node">Entry-3-3</span>
          <div class="branch lv3">
            <div class="entry"><span class="node">Entry-3-3-1</span></div>
            <div class="entry"><span class="node">Entry-3-3-2</span>
              <div class="branch lv4">
                <div class="entry"><span class="node">Entry-3-3-2-1</span></div>
                <div class="entry"><span class="node">Entry-3-3-2-2</span></div>
              </div>
            </div>
            <div class="entry"><span class="node">Entry-3-3-3</span></div>
          </div>
        </div>
        <div class="entry"><span class="node">Entry-3-4</span></div>
      </div>
    </div>
    <div class="entry"><span class="node">Entry-4</span></div>
    <div class="entry"><span class="node">Entry-5</span></div>
  </div>
</div> -->







<div class="wrapper">
    <span class="node">Root</span>
    <div class="branch lv1">
        <div class="entry">
            <span class="node">Entry-1</span>
            <div class="branch lv2">
                <div class="entry">
                    <span class="node">Entry-1-1</span>
                    <div class="branch lv3">
                        <div class="entry single">
                            <span class="node">Entry-1-1-1</span>
                            <div class="branch 1v4">
                                <div class="entry"><span class="node">Entry-1-1-1-1</span></div>
                                <div class="entry">
                                    <span class="node">Entry-1-1-1-2</span>
                                    <div class="branch 1v5">
                                        <div class="entry"><span class="node">Entry-1-1-1-2-1</span></div>
                                        <div class="entry"><span class="node">Entry-1-1-1-2-2</span></div>
                                    </div>
                                </div>
                                <div class="entry"><span class="node">Entry-1-1-1-3</span></div>
                                <div class="entry">
                                    <span class="node">Entry-1-1-1-4</span>
                                    <div class="branch 1v5">
                                        <div class="entry">
                                            <span class="node">Entry-1-1-1-4-1</span>
                                            <div class="branch 1v5">
                                                <div class="entry"><span class="node">Entry-1-1-1-2-1</span></div>
                                                <div class="entry"><span class="node">Entry-1-1-1-2-2</span></div>
                                            </div>
                                        </div>
                                        <div class="entry"><span class="node">Entry-1-1-1-4-2</span></div>
                                        <div class="entry"><span class="node">Entry-1-1-1-4-3</span></div>
                                    </div>
                                </div>
                                <div class="entry"><span class="node">Entry-1-1-1-5</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry">
                    <span class="node">Entry-1-2</span>
                    <div class="branch lv3">
                        <div class="entry single"><span class="node">Entry-1-2-1</span></div>
                    </div>
                </div>
                <div class="entry"><span class="node">Entry-1-2</span>
                </div>
                <div class="entry">
                    <span class="node">Entry-1-3</span>
                    <div class="branch lv3">
                        <div class="entry single"><span class="node">Entry-1-3-1</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="entry"><span class="node">Entry-5</span></div>
    </div>
</div>


<div class="wrapper">
	<div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div>
	<div class="branch LV1">
		<div class="entry"><div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div>
			<div class="branch LV2">
				<div class="entry sole">
					<div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div>
					</div>				
			</div>
		</div>
		<div class="entry"><div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div></div>
		<div class="entry"><div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div>
			<div class="branch Lv2">
				<div class="entry single"><div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div></div>
			</div>
		</div>
		<div class="entry"><div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div></div>
	</div>
</div>





<br><br><br><br><br><br><br><br><br><br><br><br><br>



<h2>{{ story | json}}</h2>
<input type="text" name="title" [(ngModel)]="story.title" ><br><br><br><br><br><br>
<div class="wrapper">
	<div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[0].note"><br><textarea [(ngModel)]="story.nodeList[0].content"></textarea></div>
	<!-- <span class="node"></span> -->
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>








<div *ngFor="let i of story.nodeList" class="wrapper">
	<div class="node"><input type="text" name="note" [(ngModel)]="story.nodeList[i].note"><br><textarea [(ngModel)]="story.nodeList[i].content"></textarea></div>
	<div class="branch Lv1">
		<div class="entry">
			
		</div>
	</div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br>
