* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
}
#layout {
	overflow-x: auto;
	padding: 20px;
	margin-top: 20px;
	width: 95%;
	height: 660px;
	background-color: #a87446;
	border: 5px solid #77512e;
}
#layoutholder {
	display: flex;
	align-items: center;
}
.scenebox {
	height: 180px;
	width: 300px;
	display: inline-block;
	background-color: skyblue;
}
#lower {
	display: inline-block;
	padding: 20px;
	margin-top: 20px;
	width: 95%;
	height: 250px;
	background-color: #696c70;
	border: 5px solid #434547;
}
#sbprime {
	background-color: blue;
}
#zoomstuff {
	margin-bottom: 15px;
	position: sticky;
	padding: 5px;
	display: inline-block;
	background-color: rgba(255,255,255, 0.5);
}
#zoomstuff button {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #aaaaaa;
	background: rgb(208,208,208);
	background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(245,245,245,1) 71%);
}
#zoomstuff p {
	display: inline-block;
	padding: 3px;
}
.children {
	display: flex;
	margin-left: 10px;
}

#sb1 {
	background-color: red;
}
#sb2 {
	background-color: green;
}
#sb3 {
	background-color: black;
}