<div id="all">
	<div id="wrapper">
		<h1>Story1</h1>
		<div id="text">
			<p>So here's the very beginning of the story, the introduction, the preface. Whatever you intend to call it, everything must come after it, for that is how a story works.</p>
			<p>And so begins my story, the story of how I tested a component and adjusted the CSS.</p>
			<p>..........</p>
			<p>You open up your laptop and prepare to start working. Remembering you last worked with sockets, you cringe a bit, dread filling you.</p>
		</div>
		<div id="options">
			<table>
				<tr>
					<td>
						<div>
						<p>Switch branches and work on something else</p>
						<button>Choose</button></div>
					</td>
					<td>
						<div>
						<p>Start googling sockets</p>
						<button>Choose</button></div>
					</td>
					<td>
						<div>
						<p>Browse Twitter</p>
						<button>Choose</button></div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="after">
		<h3>Written by: Zoe</h3>
		<button>Restart</button>
	</div>
</div>