#wrapper {
	margin-top: 10px;
	overflow-y: auto;
	border: 1px solid grey;
	width: 700px;
	height: 800px;
}
.story {
	vertical-align: top;
	display: inline-block;
	margin: 5px;
	padding-top: 10px;
	text-align: center;
	width: 150px;
	height: 150px;
	background-color: silver;
	border: 3px double black;
}