#wrapper {
	margin-top: 10px;
	overflow-y: auto;
	border: 1px solid grey;
	width: 1056px;
	height: 800px;
}
.story {
	border-radius: 20px;
	vertical-align: top;
	display: inline-block;
	margin: 5px;
	padding-top: 10px;
	text-align: center;
	width: 150px;
	height: 150px;
	border: 8px solid #6f725c;
}
button {
	background-color: #a4a88c;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	border: 1px solid #6f725c;
	padding: 2px 8px;
}
button:hover {
	background: #c2c6a7;
}